<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/style.css">
</head>
<body>
    <main class='card'>
        <div class='card-container'>
          <div class='bio'>
            <h2><%= user %></h2>
            <p><%= profession %></p>
          </div>
          <h1>Welcome !!</h1>
          
            <!-- only for get methods -->
            <a class='message' href="/logout">Logout</a>
          
        </div>
      </main>
</body>
</html>